<%- include ../include/head.ejs %>

<% if(level == 0){ %>
  <%- include ../include/0_menu.ejs %>
<% } %>
<% if(level == 1){ %>
  <%- include ../include/1_menu.ejs %>
<% } %>
<% if(level == 2){ %>
  <%- include ../include/2_menu.ejs %>
<% } %>


<!-- Page Content -->
<div class="container cook_container">


<div class="row">
  <div class="col-sm-12 col-md-6">
    <h2>Registreren</h2>
    <hr>
    <% if(error){ %>
      <div class="error">
        <%= error %>
      </div>
      <% } %>
        <form id="from_login" class="form-horizontal" role="form" action="<%= postUrl %>" method="post">

          <div class="input-group mar-2">
            <span class="input-group-addon addon_custom">Gebruikersnaam</span>
            <input type="text" class="form-control" placeholder="gebruikersnaam" aria-describedby="coupon_code" name="gebruikersnaam" id="gebruikersnaam">
          </div>
          <div class="input-group mar-2">
            <span class="input-group-addon addon_custom">Wachtwoord</span>
            <input type="text" class="form-control" placeholder="wachtwoord" aria-describedby="coupon_code" name="wachtwoord" id="wachtwoord">
          </div>
          <div class="input-group mar-2">
            <span class="input-group-addon addon_custom">Voornaam</span>
            <input type="text" class="form-control" placeholder="voornaam" aria-describedby="coupon_code" name="voornaam" id="voornaam">
          </div>
          <div class="input-group mar-2">
            <span class="input-group-addon addon_custom">Achternaam</span>
            <input type="text" class="form-control" placeholder="achternaam" aria-describedby="coupon_code" name="achternaam" id="achternaam">
          </div>
          <div class="input-group mar-2">
            <span class="input-group-addon addon_custom">Leeftijd</span>
            <input type="number" class="form-control" placeholder="21" aria-describedby="coupon_code" name="leeftijd" id="leeftijd">
          </div>
          <hr>
          <div class="controls mar-2">
            <button type="submit" class="btn btn-success btn-lg" id="form_register_buttom">Registreer</button>
          </div>
        </form>
  </div>
</div>

</div>

<%- include ../include/footer.ejs %>

<script>
$(function() {
  $( "#form_register_buttom" ).click(function() {
    event.preventDefault();
    $( "#from_login" ).submit();
  });
</script>

<%- include ../include/end.ejs %>
